@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

@layer components {
  .button {
    @apply bg-theme_color-gray_light text-white h-9 px-4 rounded-lg
  }
  .headline {
    @apply text-theme_color-light_blue font-medium text-5xl
  }
  .headline_paragraph {
    @apply text-gray-500 text-base font-medium
  }
  .table_row  {
    @apply text-center bg-theme_color-gray_light 
  }
  .table_td {
    @apply p-4 text-white font-medium text-2xl
  }
}

